* {
    font-family: Arial;
}

#lists {
    display: flex;
}

#lists > div {
    border: 1px solid black;
    width: 100%;
}

button {
    width: 100%;
    padding: 6%;
}

.user {
    margin: 0;
    padding: 6%;
    text-align: center;
}

.user:hover {
    background-color: gray;
    color: white;
}

.selected {
    background-color: gray;
    color: white;
}
