* {
    font-family: Arial;
}

.boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.boxes-container > * {
    border: 1px solid black;
    box-sizing: border-box;
    width: 33%;
}

.box {
    border: 1px solid black;
}

.arrow {
    text-align: center;
    padding: 6%;
    width: 100%;
}

.user {
    margin: 0;
    padding: 6%;
    text-align: center;
}

.user:hover {
    background-color: gray;
    color: white;
}

.selected {
    background-color: gray;
    color: white;
}
